# Python3 Fluency Workbook â€Š

### Control Flow and Data Structures

# Overview

## Data Structures and Time Complexity

Before we go into specific data structures, we need to understand **Big O Notation** so that we can make good judgments about when to use certain data structures.

`O(1)` - a function that takes `O(1)` time takes 1 step to execute

`O(n)` - takes `n` steps to execute (where `n` is generally the size of the object)

`O(2**n)` - takes `2**n` steps to execute

...

## Basic Data Structures

| Data Structure | Definition | Common Time Complexities | Notes | Common Examples |
|:--|:--|:--|:--|:--|
| `list` | mutable list of items | `O(1)`: `append`, `get`, `set`, `len`<br>`O(n)`: `remove`, `insert` | `remove` and `insert` are `O(n)` operations because Python must copy the whole list | list of names, etc |
| `dict` | unsorted but fast map of items | `O(1)`: `get`, `set`, `delete`<br> `O(m)`: `remove`, `insert` | Where `m` is the max size of the dictionary<br>\*`dict` ops like `get`, `set` may not be `O(1)` if hash collisions | blabla
| `set` | like a dict without values | append, get set, len O(1); remove, insert O(n) | uses a hash to get a unique collection of values | Particularly useful for permission systems where you have to do mass adding or removing of users
| `tuple` | immutable list | append, get set, len O(1); remove, insert O(n) | bla bla | Because tuples are hashable there are some cases where its more advantagous to have a tuple over a list<br>Tuple packing and unpacking is supported |

## Other Data Structures

| Data Structure | Category | Definition  | Common Use Cases |
|:--|:--|:--|:--|
| `ChainMap` | Dictionary-like | list of dictionaries | TBD |
| `Counter` | Dictionary-like | keeping track of the most occurring elements | TBD |
| `Defaultdict` | Dictionary-like | dictionary with a default value | TBD |
| `OrderedDict` | Dictionary-like | a dictionary where insertion order matters | TBD |
| `Dqueue` | List-like | the double ended queue | Doubly linked list |
| `Heapq` | List-like | the ordered list | TBD |
| `NamedTuple` | Tuple-like | tuples with field names | TBD |
| `Enum` | Other | a group of constants | TBD |
... and many more

**IMPORTANT:** You need to know how to [CHECK THE DOCS][0] to check the runtimes of operations, common usage cases, etc.

[0]: [https://docs.python.org/3/tutorial/datastructures.html#]

# Lists

**Using a for loop**

In [15]:
doubles = []
for x in range(10):
    doubles.append(x*2)
print(doubles)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

**Using lambda functions**

Lambda functions are small (single expression) anonymous functions created using the lambda keyword.

In [16]:
pairs = [(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')]
pairs.sort(key=lambda pair: pair[1])
print(pairs)

[(4, 'four'), (1, 'one'), (3, 'three'), (2, 'two')]

**Using list comprehensions**

List comprehensions are written using the following syntax: `[expression for item in list]`

In [3]:
# creating a list using list comprehensions
doubles = [x*2 for x in range(10)]
print(doubles)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [4]:
# create a list of tuples using list comprehensions
[(x,y) for x in [1,2,3] for y in [3,1,4] if x != y]

# equivalent to
# combs = []
# for x in [1,2,3]:
#     for y in [3,1,4]:
#         if x != y:
#             combs.append((x, y))

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

The following examples are directly from [the docs][0]

[0]:[https://docs.python.org/3.9/tutorial/datastructures.html?highlight=comprehensions]

In [7]:
# filter the list to exclude negative numbers
[x for x in vec if x >= 0]

[0, 2, 4]

In [11]:
# apply a function to all the elements
[abs(x) for x in vec]

[4, 2, 0, 2, 4]

In [12]:
# call a method on each element
freshfruit = ['  banana', '  loganberry ', 'passion fruit  ']
[weapon.strip() for weapon in freshfruit]

['banana', 'loganberry', 'passion fruit']

In [13]:
# create a list of 2-tuples like (number, square)
[(x, x**2) for x in range(6)]

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [14]:
# flatten a list using a listcomp with two 'for'
vec = [[1,2,3], [4,5,6], [7,8,9]]
[num for elem in vec for num in elem]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# Dicts

It is best to think of a dictionary as a set of key: value pairs, with the requirement that the keys are unique (within one dictionary). A pair of braces creates an empty dictionary: {}. Placing a comma-separated list of key:value pairs within the braces adds initial key:value pairs to the dictionary; this is also the way dictionaries are written on output.

In [18]:
tel = {'jack': 4098, 'sape': 4139}
tel['guido'] = 4127
tel

{'jack': 4098, 'sape': 4139, 'guido': 4127}

In [19]:
tel['jack']

4098

In [20]:
del tel['sape']
tel['irv'] = 4127
tel

{'jack': 4098, 'guido': 4127, 'irv': 4127}

In [21]:
list(tel)

['jack', 'guido', 'irv']

In [22]:
sorted(tel)

['guido', 'irv', 'jack']

In [23]:
'guido' in tel

True

In [24]:
'jack' not in tel

False

In [25]:
dict([('sape', 4139), ('guido', 4127), ('jack', 4098)])

{'sape': 4139, 'guido': 4127, 'jack': 4098}

In [26]:
{x: x**2 for x in (2, 4, 6)}

{2: 4, 4: 16, 6: 36}

In [27]:
dict(sape=4139, guido=4127, jack=4098)

{'sape': 4139, 'guido': 4127, 'jack': 4098}

In [28]:
knights = {'gallahad': 'the pure', 'robin': 'the brave'}
for k, v in knights.items():
    print(k, v)

gallahad the pure
robin the brave

In [29]:
for i, v in enumerate(['tic', 'tac', 'toe']):
    print(i, v)

0 tic
1 tac
2 toe

In [35]:
questions = ['name', 'quest', 'favorite color']
answers = ['lancelot', 'the holy grail', 'blue']
for q, a in zip(questions, answers):
    print('What is your {0}?  It is {1}.'.format(q, a))

What is your name?  It is lancelot.
What is your quest?  It is the holy grail.
What is your favorite color?  It is blue.

In [36]:
for i in reversed(range(1, 10, 2)):
    print(i)

9
7
5
3
1

# Sets

A set is an unordered collection with no duplicate elements. Basic uses include membership testing and eliminating duplicate entries. Set objects also support mathematical operations like union, intersection, difference, and symmetric difference.

In [40]:
# show that duplicates have been removed
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
print(basket)

{'orange', 'pear', 'banana', 'apple'}

In [38]:
'orange' in basket                 # fast membership testing

True

In [39]:
# Demonstrate set operations on unique letters from two words

a = set('abracadabra')
b = set('alacazam')
a                                  # unique letters in a

{'a', 'b', 'c', 'd', 'r'}

In [42]:
a - b                              # letters in a but not in b

{'d', 'r'}

In [43]:
a | b                              # letters in a or b or both

{'a', 'c', 'd', 'l', 'm', 'r', 'z'}

In [44]:
a & b                              # letters in both a and b

set()

In [45]:
a ^ b                              # letters in a or b but not both

{'a', 'c', 'd', 'l', 'm', 'r', 'z'}

In [46]:
a = {x for x in 'abracadabra' if x not in 'abc'}
a

{'d', 'r'}

# Tuples

In [49]:
t = 12345, 54321, 'hello!'
t[0]

12345

In [50]:
t

(12345, 54321, 'hello!')

In [51]:
# Tuples may be nested:
u = t, (1, 2, 3, 4, 5)
u

((12345, 54321, 'hello!'), (1, 2, 3, 4, 5))

In [52]:
# Tuples are immutable:
t[0] = 88888

TypeError: 'tuple' object does not support item assignment

In [53]:
# but they can contain mutable objects:
v = ([1, 2, 3], [3, 2, 1])
v

([1, 2, 3], [3, 2, 1])

In [55]:
v[0][0] = 0
v

([0, 2, 3], [3, 2, 1])

# Practice! Practice! Practice!